<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Auth -->
        <activity
            android:name=".auth.PhoneAuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main -->
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".MenuActivity" android:exported="false" />
        <activity android:name=".AddAdActivity" android:exported="false" />
        <activity android:name=".LocationSelectionActivity" android:exported="false" />
        <activity android:name=".CategorySelectionActivity" android:exported="false" />
        <activity android:name=".ListingDetailActivity" android:exported="false" />
        <activity android:name=".SearchActivity" android:exported="false"
            android:windowSoftInputMode="stateVisible" />

        <!-- Profile -->
        <activity android:name=".profile.ProfileActivity" android:exported="false" />
        <activity android:name=".profile.MyAdsActivity" android:exported="false" />

        <!-- Notifications -->
        <activity android:name=".notifications.NotificationsActivity" android:exported="false" />

        <!-- Chat -->
        <activity
            android:name=".chat.ui.conversations.ConversationsActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.ui.conversations.ListingConversationsActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".chat.ui.chat.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>
